<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>
    <style>
        .box{
            background: purple;
            height: 200px;
            width: 200px;
        }
        .box.two{
            background: red;
        }
        .box.three{
            background: blue;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        {{ greeting }}
        <input @keyup.enter="greet(greeting + 'ffd!!!')" type="text" name="test" id="test" v-model="greeting">

        <hr>
        <button v-on:click="toggleBox">Toggle Box</button>
        <div class="box" v-if="isVisible"></div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function(){
                return {
                    greeting: 'Hello Vue 3!',
                    isVisible: false,
                }
            },
            methods: {
                toggleBox: function(){
                    this.isVisible = !this.isVisible
                },
                greet(greeting){
                    console.log(greeting)
                }
            }
        })
        app.mount('#app')
    </script>
</body>

</html>